@import "tailwindcss";

@theme {
  --color-indigo: #040022;
  --color-cinza: #c2c2c2;
  --color-cinzaclaro: #e1e1e1;
  --color-branco: #f8f8f6;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-questrial: "Questrial", sans-serif;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}

.font-questrial {
  font-family: "Questrial", sans-serif;
}

.font-alexbrush {
  font-family: "Alex Brush", cursive;
}


html {
  scroll-behavior: smooth;
}


body {
  background-color: #040022;
  color: #e1e1e1;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
}

::selection {
  background-color: #f8f8f6;
  color: #040022;
}
